In [7]:
sean_json = """
{"name":"Ammar Jamshed",
 "languages":["english", "urdu", "japanese"],
 "qual": ["Bsc", "Diploma","Msc"],
 "students": [{"name": "aj", "qual":["bsc","ccna"]},
              {"name": "ajj", "qual":["btech","msc","cert"]}]
}
"""

In [8]:
import json as js
mydata = js.loads(sean_json)
print(js.dumps(mydata))

{"name": "Ammar Jamshed", "languages": ["english", "urdu", "japanese"], "qual": ["Bsc", "Diploma", "Msc"], "students": [{"name": "aj", "qual": ["bsc", "ccna"]}, {"name": "ajj", "qual": ["btech", "msc", "cert"]}]}

In [9]:
import pandas as pd 
student_data = pd.DataFrame(mydata['students'], columns=['name','qual'])
student_data

  name                qual
0   aj         [bsc, ccna]
1  ajj  [btech, msc, cert]

In [12]:
# convert to CSV
student_data.to_csv('students.csv')